.mapPosition{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding-top: 60px;
    margin: auto;
    position: relative;  
}
.map-mid-title{
    position: absolute;
    left: 0;
}
.mapbtn{
    background-color: #767676;
    color: white;
    width: 100%;
    height: 40px;
    border-right: 1px solid white;
    text-align: center;
    align-content: center;
 
    
}
.homepageMap{
    width: 100%;
    height: 500px;   
    background-color: rgb(255, 231, 211);
}
.mapbtnBox{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.mapbtn:hover{
    background-color: #ff9900;
    color: white;
}
.btnPosition{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1680px) {
   .homepageMap{
    height: 300px;   
    
    }
    .btnPosition{
        width: 100%;
    }
    .mapbtn{
    width: 100%;
    }
    .mapPosition{
        width: 80%;
    }
    .homepageMap{
    width: 100%;
    height: 500px;   
    background-color: rgb(255, 231, 211);
}
    
}

@media (max-width: 600px) {
    
    .homepageMap{
    height: 300px;   
    
    }
    .btnPosition{
        width: 100%;
    }
    .mapbtn{
    width: 100%;
    }
    .mapPosition{
        width: 85%;
    }
    .homepageMap{
    width: 100%;
    height: 500px;   
    background-color: rgb(255, 231, 211);
}
}