.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  padding: 1rem;
  margin: 0 auto;
}
.search_login {
  display: flex;
  align-items: center;
}
.searchbox {
  display: flex;
  justify-content: space-around;
  width: 250px;
  height: 20px;
  padding: 10px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px #e0e0e0 solid;
  justify-content: flex-start;
  align-items: center;
}
.logo-image {
  width: 110px;
  height: auto;
}
.logo-image:hover {
  opacity: 50%;
}
.meuntext:hover {
  color: #ff9900;
}
.menu-button {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.menubar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu-item {
  display: none; /* 기본적으로 숨김 */
  padding: 10px; /* 여백 추가 */
  cursor: pointer; /* 클릭 가능 표시 */
}

.menu-item:hover {
  color: #ff9900; /* 마우스 오버 시 색상 변경 */
}
.menu-texts {
  display: flex;
}

.menu-text {
  margin-right: 20px; /* 메뉴 간격 조정 */
  cursor: pointer;
}

.menu-text:hover {
  color: #ff9900;
}

.mobile-menu-item {
  display: none; /* 기본적으로 모바일 메뉴 항목 숨기기 */
  padding: 10px; /* 필요한 스타일 */
  cursor: pointer;
}

.mobile-menu-item:hover {
  color: #ff9900;
}
.input {
  width: 250px;
  height: 25px;
  border: none;
  background-color: #ffffff00;
}

@media (max-width: 600px) {
  .logo-image {
    width: 100px;
    margin: 20px auto;
  }
  .moblieLoginBtn {
    display: none;
  }
  .app-navbar {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .searchbox {
    margin-bottom: 15px;
    width: 100%;
  }
  .menu-item {
    display: block;
  }

  .menu-texts {
    display: none; /* 모바일 환경에서 기존 메뉴 숨기기 */
  }
  .mobile-menu-item {
    display: block;
  }

  .menu-button {
    display: block;
    z-index: 100;
    /* 메뉴 버튼 스타일 */
  }
  .close-button {
    background-color: #ff9900;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .close-button:hover {
    background-color: #ffe7c4;
  }
  .menu {
    z-index: 100;
    position: fixed;
    top: 0;
    right: -100%; /* 기본적으로 메뉴를 화면 오른쪽 밖으로 숨긴다 */
    width: 60%;
    height: 100%;
    background-color: #f5f5f5;
    transition: right 0.3s;
  }

  .menu.open {
    right: 0; /* 메뉴가 열리면 화면 왼쪽 끝으로 */
  }

  /* .menubar{
      display: flex;
      flex-direction: column;
    } */
}
