#map-sidebar {
  position: absolute;
  left: 0;
  width: 30%;
  max-width: 400px;
  min-width: 350px;
  height: 100%;
  background-color: #ffffff;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  box-shadow: 8px 0px 6px -5px rgba(0, 0, 0, 0.2);
}
#map-sidebar.folded {
  transform: translateX(-100%);
}

#map-sidebar :is(ul, li) {
  list-style: none;
  margin: 0;
  padding: 0;
}
#map-sidebar .location-info {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#map-sidebar .bottom {
  overflow-y: scroll;
  height: 87vh;
}

.bottom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.bottom::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #abadac;
}
.bottom::-webkit-scrollbar-track-piece {
  background: #e5e5e5;
}

#map-sidebar .btn-fold {
  width: 59px;
  height: 104px;
  position: absolute;
  top: 50%;
  right: -59px;
  transform: translateY(-50%);
  z-index: 10;
  background: url(../../../../../public/images/TravelMapPageImage/btn_fold.png)
    no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
}
#map-sidebar.folded .btn-fold {
  width: 59px;
  height: 104px;
  position: absolute;
  top: 50%;
  right: -59px;
  transform: translateY(-50%);
  z-index: 10;
  background: url(../../../../../public/images/TravelMapPageImage/btn_fold.png)
    no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -104px;
  border: 0;
}

#map-sidebar .weather-image {
  width: 30px;
}

#map-sidebar .weather-rt {
  display: flex;
}

/* #map-sidebar .weather-min-max {

}

#map-sidebar .sun-set {

} */

@media screen and (max-width: 700px) {
  #map-sidebar {
    bottom: 0;
    width: 100%;
    height: 45%;
    max-width: none;
  }
  #map-sidebar .btn-fold {
    transform: rotate(-90deg) translateY(50%);
    width: 59px;
    height: 104px;
    top: -81px;
    right: 50%;
  }
  #map-sidebar.folded .btn-fold {
    transform: rotate(-90deg) translateY(50%);
    width: 59px;
    height: 104px;
    top: -81px;
    right: 50%;
  }
  #map-sidebar.folded {
    transform: translateY(100%);
  }
  #mpa-sidebar .category-buttons-wrapper {
    width: 100%;
    padding: 0 40px;
  }
}
