.homecard-responsive {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homecard-wrapper {
  width: 100%;
  max-width: 1400px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-top: 5vh;
}
.homecard-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.homecard-wrapper::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #abadac;
}
.homecard-wrapper::-webkit-scrollbar-track-piece {
  background: #e5e5e5;
}

.homecard-wrapper .mid-title {
  position: static;
}
.cardPosition {
  display: flex;
}
.cardPosition .common-card {
  width: 200px;
  height: 100%;
}

.mid-title {
  margin-bottom: 60px;
  position: absolute;
  left: 0;
}
.homeCards {
  width: 100%;
  height: 500px;
  background-color: rgb(212, 212, 212);
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* .Attractionpage-container > div {
  .card-container {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    height: 300px;
    white-space: nowrap;
    gap: 16px;
    padding: 0 20px;
  }
} */
@media (max-width: 600px) {
  .cards {
    width: 75%;
    flex-wrap: wrap;
  }
  .cardPosition {
    width: 80%;
  }
}
