.common-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: black;
  color: white;
  margin: 15px;
}
.common-btn:hover{
    background-color: #FF9900;
}