* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgBanner{
    width: 100%;
    height: 700px;
    background-color: gray;
    position: relative;
}
.textBanner{
    left: 150px;
    top: 250px;
    width: 300px;
    height: 220px;
    background-color: white;
    position: absolute;
    z-index: 2;
}
img{
    max-width: 100%;
}
.decoBox{
  background-color: #FF9900;
  width: 60px;
  height: 7px;
  /* position: absolute;
  top: 40px;
  left: 40px; */
}

/* ===================
                  INFO
                        ===================== */

.info {
  position: relative;

}

/*

img {
  max-width: 100%;
  height: auto;
} */

figure {
  margin: 0;
} 

.InfoBox{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 200px;
    left: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 300px;
}
.InfoText{
  font-weight: bold;
  font-size: 1.3rem;
  /* padding-top: 80px;
  padding-left: 40px; */
}
.InfoBox a{
  color: black;
}
.InfoBox a:hover{
  color: #FF9900;
}

@media screen and (max-width:1280px) {
  .InfoBox {
    position: unset;
    max-width: unset;
    height: auto;
  }
  /* .logo-image{
    margin-left: 10px;
  } */
}

@media (max-width: 600px) {
.InfoBox {
  padding: 20px 0;
}

  img{
    
    object-fit: cover;
  }
  .InfoBox{
    z-index: 3;
    background-color: #F5F5F5;
    padding-left: 40px;
    /* position: absolute;
    top: 300px;
    width: 100%; */
  }
  .InfoBox a{
  color: black; 
  /* padding-left: 90px; */
  }
  .InfoText{
  font-weight: bold;
  font-size: 1.2rem;
  /* position: relative; */
  /* padding-top: 80px;
  padding-left: 1px; */
  }

.InfoLink{
  font-size: 0.8rem;
  /* position: absolute;
  top: 80px; */
  /* padding-left: 215px; */
  color: black;
  }
  .decoBox{
  left: 0px;
}
}