#liked-content .wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: white;
}

#liked-content .container {
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 1000px;
  background-color: white;
}

#liked-content .title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

#liked-content .line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

#liked-content .subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #808080;
}

#liked-content .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#liked-content .item {
  background-color: #ffff;
  border-radius: 4px;
  margin-bottom: 50px;
  width: 160px;
  margin-right: 30px;
}

#liked-content .item-box {
  background-color: #eee;
  border-radius: 10px;
  aspect-ratio: 1/1;
  margin-bottom: 20px;
  width: 160px;
  position: relative;
}

#liked-content .heart-img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('./heart-img.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#liked-content .item-content {
  margin-top: 20px;
}

#liked-content .item-title {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

#liked-content .item-subtitle {
  font-size: 12px;
  color: #666;
}

@media (max-width: 1600px) {
  #liked-content .container {
    max-width: 900px;
  }
}

@media (max-width: 1280px) {
  #liked-content .container {
    max-width: 70%;
  }
}

@media (max-width: 900px) {
  #liked-content .container {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  #liked-content .container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #liked-content .item {
    margin-right: 20px;
    margin-left: 20px;
  }

  #liked-content .title {
    font-size: 20px;
    justify-content: center;
  }

  #liked-content .subtitle {
    font-size: 14px;
    justify-content: center;
    margin-bottom: 50px;
  }

  #liked-content .item-title,
  #liked-content .item-subtitle {
    justify-content: center;
    text-align: center;
  }

  #liked-content .item-title {
    font-size: 14px;
  }
}